/******* PRIMAL LIFE FORCE CSS *******/
/* #1 TAGS */
body {
    background-color:#009ee1;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    background-attachment:fixed;
    background-size:cover;
    height:auto;
    width:100%;
    position:relative;
    overflow:scroll;

    /* */
    border:2px dashed orange; 
}

article {
    overflow:scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    position:relative;

    /* */
    border:2px solid pink;
 }

h1 { 
    font-family: Oswald, sans-serif;
    font-weight:400;
    color:#ffffff;
    font-size:2.2em;
    line-height:1.4em; 
    -webkit-font-smoothing: antialiased;
    
}

h2 {
    font-family: Oswald, sans-serif;
    font-weight:400;
    color:#ffffff;
    font-size:2em;
   -webkit-font-smoothing: antialiased;
    text-align:center;
}

h3 {
    font-family: Oswald, sans-serif;
    font-weight:400;
    color:#ffffff;
    font-size:1.5em;
   -webkit-font-smoothing: antialiased;
    text-align:center;

}

h6 {
    font-family: Oswald, sans-serif;
    font-weight:400;
    color:#ffffff;
    
}

footer h6 {
    text-align:right;
    margin-right:1%;
    position:relative;
    margin-top:7%;
}

p {
    font-family: Raleway, sans-serif;
    font-weight:600;
    color:#ffffff;
    font-size:1.3em;
   -webkit-font-smoothing: antialiased;
}

iframe {
    
}
/* 
td {
    padding:0px;
    margin:0px;
    }

tr {
    padding:0px;
    margin:0px;
}

*/



a:link {
    color:#a1e2fd;
    text-decoration:none;
}

span {
    color:#a1e2fd;
    text-decoration:none;
}

span:hover {
    color:#fbb23e;
}

a:link:hover {
        text-decoration:underline;
        color:#fbb23e;
        
    } 

/*= #2 CLASSES =*/

/* #2.1 */
.topLevel {
    position:relative;
    z-index:1;
    margin-top:0%;
    text-align:center;
    height:auto;
    width:100%;

    /* */
    border:2px solid #b6ff00 ; 
}

/* #2.2 */
.videoContain {
    position:relative;
    z-index:3;
    margin-top:0.2%;
    text-align:center;
    height:640px;
    width:auto;

    /* */
    border:2px dashed #b6ff00; 
}

.textSubheader {
    position:relative;
    z-index:3;
    margin-top:0.2%;
    text-align:center;
    height:auto;
    width:100%;

    /* */
    border: 2px dashed #ff0000; 
}

.textDescription {
    position:relative;
    z-index:3;
    margin-top:0.2%;
    padding-left:0.5%;
    text-align:left;
    height:auto;
    width:100%;

    /* */
    border: 2px dashed orange; 
}

.progressContain {

    position:relative;
    z-index:3;
    margin-top:0.2%;
    padding-left:0.5%;
    text-align:left;
    height:auto;
    width:100%;

    /* */
    border: 2px solid #ffffff; 

}

/* #2.3 */
.testimonials {
    width:49%;
    height:auto;
    display:inline-table;

    /**/
    border:2px solid purple;
}

/* #2.4 */
.textContent {
    position:relative;
    z-index:3;
    margin-top:2%;
    text-align:center;
    height:auto;
    width:100%;

    /* */
    border: 2px dashed #ff0000; 
}





/*== #4 ID ==*/

/** IMG LOGO **/
#logoIMG {
    width:78%;
    height:auto;
    text-align:center; 
    position:relative; 
        
    /**/
    border: 2px solid blue; 
}
/* MAKES LARGER ON HOVER 
#logoIMG:hover {
    animation-name: ease;
    animation-duration: 4s;
    width:50%;
    height:auto;
}*/

/* #logoIMG:hover {
    width:110%;
    text-align:center;
    }
*/

#mainVideo {
    position:relative;
    width:100%;
    height:100%;
    text-align:center; 
}

#proPrime {
    width:33.333%;
    overflow:hidden;
    display:inline-block;
    /**/
    border:2px solid #bf1bde;
}

#imgProPrime {
    width:100%;
    height:auto;
}

#proCant {
    width:33.333%;
    overflow:hidden;
    display:inline-block;
    /**/
    border:2px solid #41e534;
}

#imgProCant {
    width:100%;
    height:auto;
}

#proFree{
    width:33.333%;
    overflow:hidden;
    display:inline-block;
    /**/
    border:2px solid #808080;
}

#imgProFree {
    width:100%;
    height:auto;
}

tr {
    border:1px solid green;
}

td {
    border:1px solid yellow;
}

/* #5 WEBKIT */
/*  HIDES SCROLL BAR ON CHROME */

::-webkit-scrollbar {
display: none;
} 

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* #6 MEDIA QUERY */

/*====== DESKTOP ======*/
@media screen and (min-width: 1024px) {

    h1 {
        font-size:2.6em;
        line-height:1.4em;         
    }

    h2 {
        font-size:2em;
    }

    #logoIMG {
        width:78%;
        height:auto;
    }

     h6{
        color:blue;
    }

}

/*===== TABLET PORTRATE =====*/
/* Apple Air 2 */
@media screen and (max-width: 768px) and (orientation: portrait) {
    
   h1 {
        font-size:2em;
        line-height:1.3em;        
    }
    
   h2 {
        font-size:1.4em;
    }

    #logoIMG {
        width:91%;
        height:auto;
    }

    .topLevel {
        margin-top:8%;
    }

     

    h6{
        color:yellow;
    }
   
}

/*===== TABLET LANDSCAPE =====*/
/* Apple Air 2 */
@media screen and (max-width: 1024px) and (orientation: landscape) {
   
    h1 {
        font-size:2em;
        line-height:1.3em;        
    }

    h2 {
        font-size:1.4em;
    }

    #logoIMG {
        width:85%;
        height:auto;
    }

    .topLevel {
        margin-top:9%;
    }

    

    h6{
        color:red;
    }
    

}

/*===== MOBILE =====*/
/* Nexus 7 */
@media screen and (max-width: 640px) and (orientation: portrait) {
    
    h1 {
        font-size:1.5em;
        line-height:1.3em;        
    }

    h2 {
        font-size:1.1em;
    }

    #logoIMG {
        width:95%; 
        height:auto;
    }

   
    h6{
        color:orange; 
    }
     

}

/* APPLE 6s */
@media screen and (max-width: 400px) and (orientation: portrait){
    
    h1 {
        font-size:1.4em;
        line-height:1.2em;        
    }

    h2 {
        font-size:0.9em;
    }

    #logoIMG {
        width:98%; 
        height:auto;
    }

    /*   */  
    h6{
        color:orange; /* MOBILE */
    }
     

}





