/******* PRIMAL LIFE FORCE CSS *******/
/* #1 TAGS */
body {
    background-image:url(bg.jpg); /*File has to be in CSS FOLDER*/
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    background-attachment:fixed;
    background-size:cover;
    height:auto;
    width:100%;
    position:relative;
    overflow:scroll;

    /* */
    border:2px dashed orange;
}

article {
    overflow:scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    position:relative;

    /* */
    border:2px solid pink;
 }

h1 { 
    font-family: Oswald, sans-serif;
    color:#ffffff;
    font-size:2.2em;
    line-height:1.4em;  
    text-shadow: 2px 2px 5px #000000;
    -webkit-font-smoothing: antialiased;
}

iframe {
    
}

h6 {
    font-family: Oswald, sans-serif;
    color:#ffffff;
    text-shadow: 2px 2px 5px #000000;
}

footer h6 {
    text-align:right;
    margin-right:1%;
    position:relative;
    margin-top:7%;
}

a:link {
    color:#83cae8;
    text-decoration:none;
}

span {
    color:#83cae8;
    text-decoration:none;
}

a:link:hover {
        text-decoration:underline;
        color:#00ff90;
    } 

/*= #2 CLASSES =*/

/* #2.1 */
.topLevel {
    position:relative;
    z-index:1;
    margin-top:2.5%;
    text-align:center;
    height:auto;
    width:100%;

    /* */
    border:2px solid #b6ff00 ;  /* GREEN */
}

/* #2.2 */
.videoContain {
    position:relative;
    z-index:3;
    margin-top:2%;
    text-align:center;
    height:640px;
    width:auto;

    /* */
    border:2px dashed #b6ff00; /* GREEN */
}

/* #2.3 */
.textContent {
    position:relative;
    z-index:3;
    margin-top:2%;
    text-align:center;
    height:auto;
    width:100%;

    /* */
    border: 2px dashed #ff0000;  /* RED */     
}



/*== #4 ID ==*/

/** IMG LOGO **/
#logoIMG {
    width:78%;
    height:auto;
    text-align:center; 
    position:relative; 
        
    /**/
    border: 2px solid blue;
}
/* MAKES LARGER ON HOVER 
#logoIMG:hover {
    animation-name: ease;
    animation-duration: 4s;
    width:50%;
    height:auto;
}*/

/* #logoIMG:hover {
    width:110%;
    text-align:center;
    }
*/

#mainVideo{
    position:relative;
    width:100%;
    height:100%;
    text-align:center; 


}

/* #5 WEBKIT */
/*  HIDES SCROLL BAR ON CHROME */

::-webkit-scrollbar {
display: none;
} 

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* #6 MEDIA QUERY */

/*====== DESKTOP ======*/
@media screen and (min-width: 1024px) {

    h1 {
        /* */
        font-size:2.6em;
        line-height:1.4em;         
    }

    #logoIMG {
        width:78%;
        height:auto;
    }

     /*  */

    h6{
        color:blue; /* DESKTOP */
    }

}

/*===== TABLET PORTRATE =====*/
@media screen and (max-width: 768px) and (orientation: portrait) {
    
     h1 {
        font-size:2em;
        line-height:1.3em;        
    }
    
    #logoIMG {
        width:91%;
        height:auto;
    }

    .topLevel {
        margin-top:8%;
    }

     

    h6{
        color:yellow;
    }
   
}

/*===== TABLET LANDSCAPE =====*/
@media screen and (max-width: 1024px) and (orientation: landscape) {
   
    h1 {
        font-size:2em;
        line-height:1.3em;        
    }

    #logoIMG {
        width:85%;
        height:auto;
    }

    .topLevel {
        margin-top:9%;
    }

    

    h6{
        color:red; /* TABLET LANDSCAPE*/
    }
    

}

/*===== MOBILE =====*/
@media screen and (max-width: 640px) and (orientation: portrait) {
    
    h1 {
        font-size:1.5em;
        line-height:1.3em;        
    }

    #logoIMG {
        width:95%; 
        height:auto;
    }

    /*   */  
    h6{
        color:orange; /* MOBILE */
    }
     

}



