/******* PRIMAL LIFE FORCE CSS *******/
/* #1 TAGS */
body {
    background-image:url(bg.jpg); /*File has to be in CSS FOLDER*/
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    background-attachment:fixed;
    height:auto;
    width:100%;
    position:relative;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow:scroll;
}

h1 { font-family: Oswald, sans-serif;
    color:#ffffff;
    text-shadow: 2px 2px 5px #000000;
}

h6 {
    font-family: Oswald, sans-serif;
    color:#ffffff;
    text-shadow: 2px 2px 5px #000000;
}

footer h6 {
    text-align:right;
    margin-right:1%;
    position:relative;
    margin-top:7%;
}

a:link {
    color:#ffffff;
    text-decoration:none;
}

a:link:hover {
        text-decoration:underline;
        color:#00ff90;
    } 

/*= #2 CLASSES =*/
.mainDiv {
    position:relative;
    height:100%;
    width:auto;
    overflow:hidden;
    z-index:-1;  
}

.topLevel {
    position:relative;
    z-index:1;
    margin-top:10%;
    text-align:center;
    height:auto;
    width:100%;

    /* border:2px solid #b6ff00  ;  GREEN */
}


.textContent {
    position:relative;
    z-index:2;
    margin-top:2%;
    text-align:center;
    height:auto;
    width:100%;

    /* border: 2px dashed #ff0000;  RED */
}

/*== #4 ID ==*/

/** IMG BG **/
#imgMain {
   width:100%;
   position:relative;
  
}

#logoIMG {
    width:60%;
    height:auto;
    text-align:center; 
    position:relative;  
}
/* MAKES LARGER ON HOVER 
#logoIMG:hover {
    animation-name: ease;
    animation-duration: 4s;
    width:50%;
    height:auto;
}*/

/* #logoIMG:hover {
    width:110%;
    text-align:center;
    }
*/

/* #5 WEBKIT */
/*  HIDES SCROLL BAR ON CHROME */

::-webkit-scrollbar {
display: none;
} 

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* #6 MEDIA QUERY */

/*====== DESKTOP ======*/
@media screen and (min-width: 1024px) {

    h1 {
        font-size:2.5em;
        line-height:1.6em;
        
    }


}

/*===== TABLET PORTRATE =====*/
@media screen and (min-width: 600px) {
      h1 {
        
    }

}

/*===== TABLET LANDSCAPE =====*/
@media screen and (min-width: 768px) {

}

/*===== MOBILE =====*/
@media screen and (min-width: 480px) {


}

min-width: px: Will target mobile devices in landscape mode and up

min-width: px: Targets tablets in portrait mode and up

min-width: px: Targets tablets in landscape mode and up

min-width: px: Targets the desktop view